* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
} 
/* -------------- SECTION FORM --------------- */
main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* background-color: #052659; */
    background-image: url(../assets/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-form_container {
    width: 80%;
    height: 80rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 6rem;
}
.main-form_container h1 {
    width: 55rem;
    text-align: center;
    line-height: 0.8;
    font-size: 6rem;
    margin-bottom: 3rem;
    color: #c1e8ff;
}
.main-form_container p {
    font-size: 2rem;
    margin-bottom: 5rem;
    color: #7da0ca;
}
/* ----- FORM ----- */
.main-form_container .login-form {
    width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1.5rem;
    padding: 5rem;
    box-shadow: 0 2px 14px #7da0ca;
    background-color: #021024;
}
.login-form h2 {
    font-size: 5rem;
    color: #7da0ca;
    text-align: center;
    margin-bottom: 5rem;
    border-bottom: 2px solid #052659;
}
.login-form label {
    font-size: 1.9rem;
    color: #7da0ca;
    text-align: left;
}
.login-form input {
    width: 35rem;
    height: 3.8rem;
    border-radius: 0.8rem;
    padding-left: .9rem;
    font-size: 1.7rem;
    border: none;
    outline: none;
    margin-bottom: 2rem;
}
.login-form button {
    width: 11rem;
    height: 4rem;
    border-radius: .8rem;
    font-size: 1.4rem;
    background-color: #c1e8ff;
    color: #021024;
}
.login-form button:hover {
    background-color: #052659;
    color: #7da0ca;
    border: none;
    color: #7da0ca;
    cursor: pointer;
    transition: .5s ease;
}




