* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
} 
/* -------------- SECTION FORM --------------- */
main {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-form_container {
    width: 80%;
    height: 80rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.main-form_container h1 {
    width: 55rem;
    text-align: center;
    line-height: 0.8;
    font-size: 6rem;
    margin-bottom: 3rem;
    color: #c1e8ff;
    margin-top: 4rem;
}
.main-form_container p {
    font-size: 2rem;
    margin-bottom: 5rem;
    color: #7da0ca;
}
/* ----- FORM ----- */
.main-form_container .login-form {
    width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1.5rem;
    padding: 5rem;
    box-shadow: 0 2px 14px #7da0ca;
    background-color: #021024;
}
.login-form h2 {
    font-size: 5rem;
    color: #7da0ca;
    text-align: center;
    margin-bottom: 5rem;
    border-bottom: 2px solid #052659;
}
.login-form label {
    font-size: 1.9rem;
    color: #7da0ca;
    text-align: left;
}
.login-form input {
    width: 35rem;
    height: 3.8rem;
    border-radius: 0.8rem;
    padding-left: .9rem;
    font-size: 1.7rem;
    border: none;
    outline: none;
    margin-bottom: 2rem;
}
.login-form button {
    width: 11rem;
    height: 4rem;
    border-radius: .8rem;
    font-size: 1.4rem;
    background-color: #c1e8ff;
    color: #021024;
}
.login-form button:hover {
    background-color: #052659;
    color: #7da0ca;
    border: none;
    color: #7da0ca;
    cursor: pointer;
    transition: .5s ease;
}
.login-form .error-message {
    font-size: 2rem;
    color: red;
    margin-top: 1.5rem;
    text-shadow: 0 3px 10px #0b0c0c;
}
/* ---------- END FORM ---------- */


/* ---------- SECTION NAVBAR HABITS ---------- */
.navbar-habits {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #021024;
}
.navbar-habits .img_task {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-habits .img_task img {
    width: 8rem;
}
.navbar-habits .img_task p {
    font-size: 3rem;
    color: #7da0ca;
    text-shadow: 0 3px 13px;
}
.navbar-habits .user_task {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-habits .user_task h1 {
    font-size: 2.1rem;
    color: #7da0ca;
    border-bottom: 1px solid #7da0ca;
}
.navbar-habits .user_task button {
    margin-left: 1.5rem;
    width: 10rem;
    height: 2.4rem;
    font-size: 1.3rem;
    background-color: #c1e8ff;
    border: none;
    border-radius: .8rem;
}
.navbar-habits .user_task button:hover {
    cursor: pointer;
    background-color: #052659;
    color: #7da0ca;
    transition: .5s ease;
}
/* ---------- END SECTION NAVBAR HABITS ---------- */

/* ---------- SECTION HABITS ---------- */
.task-principal_container {
    width: 100%;
    height: auto;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


/* ---------- CREATE TASK CONTAINER ---------- */
.create-task_container {
    width: 33%;
    height: 80rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #7da0ca;
    border-radius: 1.5rem;
}
.create-task_container .habits_form {
    width: 99%;
    height: auto;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: #021024;
}
/* .habits_form .switch {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.habits_form .switch input {
    width: 6rem;
    height: 2rem;
} */
.habits_form h2 {
    font-size: 4rem;
    text-align: center;
    color: #7da0ca;
    margin: 3rem 0 2rem 0;

}
.habits_form label {
    font-size: 2rem;
    color: #7da0ca;
    margin-top: 2rem;
}
.habits_form input {
    width: 30rem;
    height: 3.8rem;
    padding: 0.8rem;
    font-size: 1.5rem;
    border: 0.6px solid #7da0ca;
    outline: none;
    border-radius: 7px;
    background-color: transparent;
    color: #c1e8ff;
}
.habits_form input:hover {
    border-color: #4f9cff;
    box-shadow: 0 0 8px rgba(79, 156, 255, 0.6);
}
.habits_form select {
    width: 30rem;
    height: 3.8rem;
    padding: 0.9rem;
    font-size: 1.5rem;
    border: 0.6px solid #7da0ca;
    outline: none;
    border-radius: 7px;
    background-color: transparent;
    color: #c1e8ff;
}
.habits_form select:hover {
    border-color: #4f9cff;
    box-shadow: 0 0 8px rgba(79, 156, 255, 0.6);
    cursor: pointer;
}
.habits_form .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.habits_form button {
    margin-top: 5rem;
    width: 15rem;
    height: 3.4rem;
    border-radius: 17px;
    background-color: #7da0ca;
    border: none;
    color: #0b0c0c;
    font-size: 1.4rem;
}
.habits_form button:hover {
    border-color: #4f9cff;
    box-shadow: 0 0 8px #4f9cff;
    cursor: pointer;
}
.habits_form .task_created {
    font-size: 2rem;
    color: #7da0ca;
    margin-top: 1.5rem;
    text-shadow: 0 3px 10px #0b0c0c;
}
/* ---------- END CREATE TASK CONTAINER ---------- */


/* ---------- TASK CONTAINER ---------- */
.task-display_container {
    width: 33%;
    height: 80rem;
    background-color: #021024;
    border-radius: 1.5rem;
}
.task-display_container .cards-container {
    width: 98%;
    height: auto;
    display: flex;
    justify-content: center;    
    align-content: flex-start;   
    flex-wrap: wrap;
    overflow-y: auto;             
    overflow-x: hidden;
    margin: 0 auto;
    background-color: #021024;
    padding: 2rem 0;
    gap: 1.2rem;
}
.cards-container picture {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #7da0ca;
    border: 1px solid #c1e8ff;
}
picture h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem;
}
picture p {
    font-size: 1.5rem;
    margin: .3rem 0;
    padding-left: .8rem;
}
picture .btn_picture {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;
    margin: 1rem;
}
.btn_picture .btn-delete {
    width: 7rem;
    height: 2.4rem;
    border-radius: 4rem;
    border: none;
    font-size: 1.3rem;
    background-color: #6c0102;
    color: #c1e8ff;
}
.btn_picture .btn-delete:hover {
    cursor: pointer;
    box-shadow: 0 1px 10px #021024;
}
.btn_picture .btn-edit {
    width: 7rem;
    height: 2.4rem;
    border-radius: 4rem;
    border: none;
    font-size: 1.3rem;
    background-color: #052659;
    color: #c1e8ff;
}
.btn_picture .btn-edit:hover {
    cursor: pointer;
    box-shadow: 0 1px 10px #021024;
}
/* ---------- END TASK CONTAINER ---------- */


/* ---------- FILTER SEARCH CONTAINER ---------- */
.filter-container {
    width: 33%;
    height: 80rem;
    background-color: #021024;
    border-radius: 1.5rem;
    padding: 1rem;
}
.filter-container .filter-status, .filter-habits {
    width: 100%;
    height: auto;
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 1.8rem;
    border: .7px solid #7da0ca;
}
.filter-status h2, .filter-habits h2 {
    font-size: 2.6rem;
    text-align: center;
    color: #4f9cff;
    margin-bottom: 1.5rem;
}
.filter-status div, .filter-habits div {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.filter-status div button, .filter-habits div button {
    width: 10rem;
    height: 3rem;
    border-radius: 11px;
    border: none;
    background-color: #7da0ca;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1,5rem !important;
}
.filter-status div button:hover, .filter-habits div button:hover {
    cursor: pointer;
    box-shadow: 0 1px 10px #4f9cff;
}
/* ---------- END FILTER SEARCH CONTAINER ---------- */

/* ---------- END SECTION HABITS ---------- */

.footer {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-top: 1px solid #4f9cff;
}
.footer p {
    color: #4f9cff;
    font-size: 2.5rem;
}